.post-password-form {
	color: black;
    justify-items: center;
    margin-top: 100px;
    margin-bottom: 30vh;
}

.post-password-form input{
	border-color: black !important;
	color: black !important;
}

.protected-decorative-image {
	display: block;
    text-align: center;
    margin-top: -140px;
}
.protected-decorative-image img {
    width: 100vw;
    height: 40vh;
    display: inline-block;
	position: relative;
	object-fit: cover;
	filter: brightness(50%)
}
