/* --- NOTE: To enable pages, comment out the relevant sections --- */


#toplevel_page_woocommerce-marketing {
	display: none;
}

#menu-comments {
	display:none;
}

#toplevel_page_admin-page-wc-settings-tab-checkout-from-PAYMENTS_MENU_ITEM {
	display: none;
}
