/* =====================
  11. WooCommerce (Global)
===================== */


/* ================================
   COLOR VARIABLES (Elementor Reference)

   Primary:   #f4a239 – Orange
   Secondary: #7a7a7a – Dark grey
   Text:      #221f21 – Black
   Accent:    #d1d741 – Lime green
   Custom 1:  #baaf55 – Bark green
   Custom 2:  #259887 – Appelzeeblaauw
   Custom 3:  #db1277 – Pink
   Custom 4:  #eee3c8 – Lime Sand
   Custom 5:  #ffffff – Pure white
   ================================ */


/* NOTE: Always check that Elementor colors have correct tags */
.elementor-kit-6 {
  --color-primary:   var(--e-global-color-primary,   #f4a239);
  --color-secondary: var(--e-global-color-secondary, #7a7a7a);
  --color-text:      var(--e-global-color-text,      #221f21);
  --color-accent:    var(--e-global-color-accent,    #d1d741);

  --color-custom-1:  var(--e-global-color-e4ef472,   #baaf55);
  --color-custom-2:  var(--e-global-color-8665ec8,   #259887);
  --color-custom-3:  var(--e-global-color-5fa0387,   #db1277);
  --color-custom-4:  var(--e-global-color-c778917,   #eee3c8);
  --color-custom-5:  var(--e-global-color-6419ee2,   #ffffff);
}



h1.product_title.entry-title {
	color: var(--color-text);
	font-family: "Effra", san-serif;
}

.woocommerce-product-details__short-description {
	color: var(--color-secondary);
	font-family: "Effra", san-serif;
	font-weight: 300 !important;
}

button.single_add_to_cart_button.button.alt {
	background-color: var(--color-accent);
	font-family: "Effra", san-serif;
	font-weight: 300 !important;
}

button.single_add_to_cart_button.button.alt:hover{
	background-color: var(--color-custom-1);
	font-family: "Effra", san-serif;
	font-weight: 300 !important;
}

span.woocommerce-Price-amount.amount {
	color: var(--color-primary);
	font-family: "Effra", san-serif;
	font-weight: 300 !important;
}

span.posted_in {
	display: none;
}

.woocommerce-Tabs-panel {
	color: var(--color-secondary);
	font-family: "Effra", san-serif;
	font-weight: 300 !important;
}

.woocommerce-Tabs-panel h2{
	display: none;
}

.woocommerce-product-gallery {
	max-width: 325px;
}

nav.woocommerce-breadcrumb {
	display: none;
}

.quantity input{
	color: var(--color-text);
	padding: 5px 5px;
	border: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: var(--color-custom-1);
	font-family: "Effra", san-serif;
	font-weight: 300 !important;
}

.quantity input:focus{
	color: var(--color-text);
	padding: 5px 5px;
	border: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: var(--color-custom-1);
	font-family: "Effra", san-serif;
	font-weight: 300 !important;
}



input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: inner-spin-button;
  opacity: 1;
}

input[type=number] {
  -moz-appearance: number-input;
}

h1.entry-title {
	color: var(--color-text);
	padding-left: 5vw;
	padding-right: 5vw;
	font-family: "Effra", san-serif;
}

.wc-block-cart-items__header-image {
	color: var(--color-text);
	font-family: "Effra", san-serif;
	font-weight: 300 !important;
}

.tabs.wc-tabs li {
	font-family: "Effra", san-serif;
	font-weight: 300 !important;
	font-size: 14px;
}

.woocommerce-tabs.wc-tabs-wrapper {
	font-family: "Effra", san-serif;
	font-weight: 300 !important;
	font-size: 16px;
}

.custom_product-page-spacer {
	height: 50px;
}

.price.wc-block-components-product-price {
	color: var(--color-text);
	font-family: "Effra", san-serif;
	font-weight: 300 !important;
}

.wc-block-cart-item__wrap p{
	color: var(--color-text);
	font-family: "Effra", san-serif;
	font-weight: 300 !important;
}

.wc-block-cart-item__quantity {
	color: var(--color-text);
	font-family: "Effra", san-serif;
	font-weight: 300 !important;
}

.wc-block-cart-items__header-total {
	color: var(--color-text);
	font-family: "Effra", san-serif;
	font-weight: 300 !important;
}

.wp-block-woocommerce-cart-order-summary-heading-block.wc-block-cart__totals-title {
	color: var(--color-text);
	font-family: "Effra", san-serif;
	font-weight: 300 !important;
}

div.wc-block-cart__submit-container.wc-block-cart__submit-container--sticky {
	background-color: white !important;
	z-index: 20;
}

.wc-block-components-totals-wrapper {
	color: var(--color-text);
	font-family: "Effra", san-serif;
	font-weight: 300 !important;
}

.wc-block-components-button.wp-element-button.wc-block-cart__submit-button.contained {
	background-color: var(--color-custom-5);
	border: solid;
	border-width: 2px;
	border-color: var(--color-primary);
	border-radius: 5px;
	color: var(--color-primary);
	font-family: "Effra", san-serif;
	font-weight: 300 !important;
	transition: all 0.2s ease-out;
}

.wc-block-components-button.wp-element-button.wc-block-cart__submit-button.contained:hover{
	background-color: var(--color-primary);
	color: var(--color-custom-5);
}

.wc-block-components-checkbox__label {
	color: var(--color-text);
	font-family: "Effra", san-serif;
	font-weight: 300 !important;
}

.wc-block-components-title.wc-block-components-checkout-step__title {
	color: var(--color-text);
	font-family: "Effra", san-serif;
	font-weight: 300 !important;
}

.wc-block-components-checkout-step__description {
	color: var(--color-text);
	font-family: "Effra", san-serif;
	font-weight: 300 !important;
}

.wp-block-woocommerce-checkout.alignwide.wc-block-checkout {
	padding-left: 5vw;
	padding-right: 5vw;
	font-family: "Effra", san-serif;
	font-weight: 300 !important;
}

.wc-block-components-form.wc-block-checkout__form input {
	font-family: "Effra", san-serif;
	font-weight: 300 !important;
}

p.wc-block-components-totals-footer-item-tax {
	font-weight: 300 !important;
}

.wp-block-heading.has-text-align-center.with-empty-cart-icon.wc-block-cart__empty-cart__title {
	color: var(--color-text);
	font-family: "Effra", san-serif;
	font-weight: 300 !important;
}

.wc-block-checkout__actions_row a:hover {
	color: var(--color-primary);
	font-family: "Effra", san-serif;
	font-weight: 300 !important;
}

.wc-block-components-checkbox__label a:hover{
	color: var(--color-primary);
	font-family: "Effra", san-serif;
	font-weight: 300 !important;
}

.wc-block-components-order-summary .wc-block-components-order-summary-item {
	display: block !important;
}

.wc-block-components-product-metadata__description {
	font-size: 0.75em;
	font-family: "Effra", san-serif;
	font-weight: 300 !important;
}

.wc-block-components-sidebar.wc-block-checkout__sidebar.wp-block-woocommerce-checkout-totals-block.is-sticky.is-large {
	top: 160px;
	font-family: "Effra", san-serif;
	font-weight: 300 !important;
}

.woocommerce-LoopProduct-link.woocommerce-loop-product__link:hover {
	color: var(--color-primary);
	font-family: "Effra", san-serif;
	font-weight: 300 !important;
}

.added_to_cart.wc-forward {
	margin-left: 20px;
	font-family: "Effra", san-serif;
	font-weight: 300 !important;
}

.added_to_cart.wc-forward:hover {
	color: var(--color-primary);
	font-family: "Effra", san-serif;
	font-weight: 300 !important;
}

.woocommerce-Tabs-panel.woocommerce-Tabs-panel--description.panel.entry-content.wc-tab li {
	padding-bottom: 10px;
	font-family: "Effra", san-serif;
	font-weight: 300 !important;
}

.woocommerce table.shop_attributes th {
	width: 50%;
	font-family: "Effra", san-serif;
	font-weight: 300 !important;
}

.woocommerce-product-attributes-item__value p{
	padding-left: 10px !important;
	font-family: "Effra", san-serif;
	font-weight: 300 !important;
}

span.onsale {
	background-color: var(--color-primary) !important;
	font-family: "Effra", san-serif;
	font-weight: 300 !important;
}

.bulk-discount-info {
	color: var(--color-text);
	font-size: 14px;
	margin-bottom: 0px;
	font-family: "Effra", san-serif;
	font-weight: 300 !important;
}

p.price {
	margin-bottom: 0px;
	font-family: "Effra", san-serif;
	font-weight: 300 !important;
}

.woocommerce-product-details__short-description {
	margin-top: 20px;
	font-family: "Effra", san-serif;
	font-weight: 300 !important;
}

.product-authors {
	color: var(--color-text);
	padding-left: 20px;
	font-family: "Effra", san-serif;
	font-weight: 300 !important;
}

.wc-block-components-product-name {
	color: var(--color-primary);
	font-family: "Effra", san-serif;
	font-weight: 500 !important;
}

.wc-block-components-product-name:hover {
	color: var(--color-primary);
	font-family: "Effra", san-serif;
	font-weight: 500 !important;
}

.wc-block-components-product-metadata__description {
	font-size: 12px;
}

.e-con {
--flex-wrap-mobile: auto;
}
