[id^=custom_book_img] {
	z-index: 2;
	box-shadow: 2px 2px 5px 3px #00000050;
	transform: translateY(0) scale(1);
	transition: transform ease-in-out 0.35s;
}


@media only screen and (min-width: 769px) {
	[id^=custom_book_container]:hover > [id^=custom_book_img] {
		box-shadow: 1px 1px 3px 1px #00000050;
		transform: translateY(-30px) scale(0.85);
	}
}

[id^=custom_magazine_img] {
	z-index: 2;
	box-shadow: 2px 2px 5px 3px #00000050;
	transform: translateY(0) scale(1);
	transition: transform ease-in-out 0.35s;
}


@media only screen and (min-width: 769px) {
	[id^=custom_magazine_container]:hover > [id^=custom_magazine_img] {
		box-shadow: 1px 1px 3px 1px #00000050;
		transform: translateY(-30px) scale(0.85);
	}
}
