.footer-widget-1, .footer-widget-2, .footer-widget-3 {
	text-align: center;
	align-content: start;
}

.copyright-bar, .inside-site-info {
	display: none;
}

.footer-widget-2 img{
	padding: 20px 20px 0px 20px;
	max-width: 30vw;
}

.footer-widget-1, .footer-widget-3 {
	padding-top: 50px;
	line-height: 20px;
	font-size: 16px;
	font-weight: 300;
}

.footer-widget-2 {
	font-size: 15px;
}
