h1.product_title.entry-title {
	color: #221F21;
}

.woocommerce-product-details__short-description {
	color: #7A7A7A;
}

button.single_add_to_cart_button.button.alt {
	background-color: #D1D741;
}

button.single_add_to_cart_button.button.alt:hover{
	background-color: #C8D07A;
}

span.woocommerce-Price-amount.amount {
	color: #F4A23A;
}

span.posted_in {
	display: none;
}

.woocommerce-Tabs-panel {
	color: #7A7A7A;
}

.woocommerce-product-gallery {
	max-width: 325px;
}

nav.woocommerce-breadcrumb {
	display: none;
}

.quantity input{
	color: #221F21;
	padding: 5px 5px;
	border: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: #C8D07A;
}

.quantity input:focus{
	color: #221F21;
	padding: 5px 5px;
	border: solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: #C8D07A;
}



input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: inner-spin-button;
  opacity: 1;
}

input[type=number] {
  -moz-appearance: number-input;
}

h1.entry-title {
	color: black;
	padding-left: 5vw;
	padding-right: 5vw;
}

.wc-block-cart-items__header-image {
	color: black;
}

.price.wc-block-components-product-price {
	color: black;
}

.wc-block-cart-item__wrap p{
	color: black;
}

.wc-block-cart-item__quantity {
	color: black;
}

.wc-block-cart-items__header-total {
	color: black;
}

.wp-block-woocommerce-cart-order-summary-heading-block.wc-block-cart__totals-title {
	color: black;
}

.wc-block-components-totals-wrapper {
	color: black;
}

.wc-block-components-button.wp-element-button.wc-block-cart__submit-button.contained {
	border: solid;
	border-width: 1px;
	border-color: black;
	border-radius: 5px;
	color: black;
}

.wc-block-components-button.wp-element-button.wc-block-cart__submit-button.contained:hover{
	color: black;
}

.wc-block-components-checkbox__label {
	color: black;
}

.wc-block-components-title.wc-block-components-checkout-step__title {
	color: black;
}

.wc-block-components-checkout-step__description {
	color: black;
}

.wp-block-woocommerce-checkout.alignwide.wc-block-checkout {
	padding-left: 5vw;
	padding-right: 5vw;
}

.wp-block-heading.has-text-align-center.with-empty-cart-icon.wc-block-cart__empty-cart__title {
	color: black;
}

.wc-block-checkout__actions_row a:hover {
	color: #f88c00;
}

.wc-block-components-checkbox__label a:hover{
	color: #f88c00;
}

.wc-block-components-order-summary .wc-block-components-order-summary-item {
	display: block !important;
}

.wc-block-components-product-metadata__description {
	font-size: 0.75em;
}

.wc-block-components-sidebar.wc-block-checkout__sidebar.wp-block-woocommerce-checkout-totals-block.is-sticky.is-large {
	top: 160px;
}
