/*
 Theme Name: GeneratePress Child
 Theme URI: https://generatepress.com
 Description: Child theme for GeneratePress
 Author: Leon de Klerk
 Author URI: https://github.com/Leon2332/Venture-Media
 Template: generatepress
 Version:

=====================
  TABLE OF CONTENTS

  1. Social Icons (header)
  2. Site Header
  3. Menu Banner
  4. Hide Page Header Featured Image
  5. Woocommerce Single Product
===================== */




/* =====================
  1. Social Icons (header)
===================== */


  .custom-social-icons svg {
    fill: currentColor;
    display: inline-block;
  }

  .custom-social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
  }

  .custom-social-icons {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 10px;
  }




/* =====================
  2. Site Header
===================== */

  .site-header {
    position: sticky;
    top: 0;
    z-index: 1499; /* WooCommerce Lightbox z-index: 1500 | Elementor Lightbox z-index: 1000 */
  }

  .main-navigation #primary-menu {
    position: absolute;
    top: 100%;
    right: 0;
	font-family: "Effra", sans-serif;
  }

  .main-navigation #primary-menu li{
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: #dadcde;
    padding-top: 8px;
  }

  #primary-menu {
    display: none;
  }

  .menu-toggle, .mobile-bar-items, .sidebar-nav-mobile {
    display: block;
    font-size: 30px;
  }

  .menu-item a {
	padding-right: 0px !important;
  }

  .main-navigation.toggled #primary-menu {
    display: block;
    margin-top: 35px;
    background: #f2f2f2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-top: solid;
    border-top-width: 3px;
    border-top-color: #f4a23a;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 25px;
  }

  @media only screen and (min-width: 1200px) {
    .main-navigation.toggled #primary-menu {
      width: 1120px;
    }
  }


  @media only screen and (max-width: 1199px) {
    .main-navigation.toggled #primary-menu {
      width: 90vw;
      margin-left: 5vw;
    }
  }

    @media only screen and (max-width: 370px) {
    .site-header .header-image {
      width: 140px;
    }
	.inside-header {
		padding-top: 0px;
		padding-bottom: 0px;
	}
  }

	@media only screen and (min-width: 371px) {
	.inside-header {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

  .has-inline-mobile-toggle #site-navigation.toggled {
    margin-top: 0px;
  }

  .main-navigation .menu-toggle {
    margin-left: auto;
    line-height: 100px;
  }

  .inside-header { 
    align-items: center;
  }

  .main-navigation .main-nav ul li a {
    padding-left: 0px;
    padding-right 0px;
    line-height: 40px;
    width: 100%;
  }

  .current_page_item a {
    font-weight: 500;
  }

  span.mobile-menu {
    display: none;
  }



  /* Top state */
  #masthead {
    background: transparent;
    transition: background 0.5s ease;
  }

  #masthead .icon-menu-bars svg {
    fill: #fff;
    transition: fill 0.5s ease;
  }

    #masthead .custom-social-icons svg {
    fill: #f2f2f2;
    transition: fill 0.5s ease;
  }


  /* Scrolled state */
  #masthead.scrolled {
    background: #f2f2f2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #masthead.scrolled .icon-menu-bars svg {
    fill: #000;
  }

  #masthead.scrolled .custom-social-icons svg {
    fill: #000;
  }


/* =====================
  3. Menu Banner
===================== */

	#venture-menu-banner {
		width: 100%;
		max-width: none;
		transform: scale(1);
		transition: transform 1s ease-out;
	}

	#venture-menu-banner:hover {
		transform: scale(1.06);
	}

	.menu-item {
		overflow: hidden;
	}


/* =====================
  4. Hide Page Header Featured Image
===================== */

  .page-header-image {
    display: none;
  }



/* =====================
  5. Woocommerce Single Product
===================== */


.site-content {
	display: block;
}

.row {
	justify-items: center;
}

.wc-block-components-main.wc-block-cart__main.wp-block-woocommerce-cart-items-block {
	padding-left: 5vw;
	padding-right: 5vw;
}

div.inside-article {
	max-width: 1200px;
}
.site.grid-container.container.hfeed {
	max-width: none;
}


.product-template-default {
	width: 100%;
}

.custom-top-banner {
    width: 100%;
    margin-top: -140px;
	margin-left: 0px;
	padding-right: 0px;
	height: 50vh;
	position: relative;
}

.custom-top-banner img {
    display: block;
	position: fixed;
    width: 100%;
    height: 50vh;
    object-fit: cover;
	z-index: -1;
}

.row {
	background-color: white;
}
